___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# List Comprehensions

In addition to sequence operations and list methods, Python includes a more advanced operation called a list comprehension.

List comprehensions allow us to build out lists using a different notation. You can think of it as essentially a one line <code>for</code> loop built inside of brackets. For a simple example:
## The normal way of creating a list from string:

In [1]:
mystring ='Hello'

In [2]:
mylist =[]
for letter in mystring:
    mylist.append(letter)

In [3]:
mylist

['H', 'e', 'l', 'l', 'o']

### The same we could do using a list comprehension. It actuallly flattens the for loop

In [6]:
mylist1 = [letter for letter in mystring]

In [7]:
mylist1

['H', 'e', 'l', 'l', 'o']

In [8]:
[letter for letter in mystring]

['H', 'e', 'l', 'l', 'o']

## In List Comprehension the for loop is flattened and the append() part came at first

## Example 1

In [9]:
# Grab every letter in string
lst = [x for x in 'word']

In [10]:
# Check
lst

['w', 'o', 'r', 'd']

This is the basic idea of a list comprehension. If you're familiar with mathematical notation this format should feel familiar for example: x^2 : x in { 0,1,2...10 } 

Let's see a few more examples of list comprehensions in Python:
## Example 2 : Operations in the values

In [11]:
# Square numbers in range and turn into list
lst = [x**2 for x in range(0,11)]

In [12]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Example 3 : Using an if statement -> if comes after the for loop line
Let's see how to add in <code>if</code> statements:

In [13]:
# Check for even numbers in a range
lst = [x for x in range(11) if x % 2 == 0]

In [14]:
lst

[0, 2, 4, 6, 8, 10]

#### The normal for loop operation will look like this:

In [19]:
lst1=[]

for i in range(11):
    if i % 2 == 0:
        lst1.append(i)

lst1

[0, 2, 4, 6, 8, 10]

## Example 4
Can also do more complicated arithmetic:

In [15]:
# Convert Celsius to Fahrenheit
celsius = [0,10,20.1,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

#### the normal for loop of the above operation will look like:

In [16]:
faren =[]
for temp in celsius:
    faren.append((9/5)*temp + 32)

In [18]:
faren

[32.0, 50.0, 68.18, 94.1]

## Example 5 : multiple list comprehensions
We can also perform nested list comprehensions, for example:

In [25]:
mylist =[]

for x in [2,4,6]:
    for y in [6,7,8]:
        mylist.append(x*y)

print(mylist)

[12, 14, 16, 24, 28, 32, 36, 42, 48]

In [26]:
[x*y for x in [2,4,6] for y in [6,7,8]]

[12, 14, 16, 24, 28, 32, 36, 42, 48]

In [33]:
lst1 = []

for i in range(11):
    lst1.append(i**2)
print(lst1)

for i, x in enumerate(lst1):
    lst1[i] = x**2

print(lst1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [34]:
lst = [ x**2 for x in [x**2 for x in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

Later on in the course we will learn about generator comprehensions. After this lecture you should feel comfortable reading and writing basic list comprehensions.

## If-else statement in a 'list comprehension' 

Not recommended since it will create trouble in reading

### The order of the if and else comes first compared to the normal if statement

In [21]:
results = [x if x%2==0 else 'ODD' for x in range(11)]

In [22]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

### In a statement with only if; the if comes at the end

In [23]:
results_1 = [x for x in range(11) if x%2==0]

In [24]:
results_1

[0, 2, 4, 6, 8, 10]