___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [7]:
def animal_crackers(text):
    name_list = text.split()
    set1 = set()
    for item in name_list:
        set1.add(item[0])
    if len(set1) == 1:
        return True
    else:
        return False

In [8]:
# Check
animal_crackers('Levelheaded Llama')

True

In [9]:
# Check
animal_crackers('Crazy Kangaroo')

False

In [11]:
animal_crackers('Give Gon Girafe Gun')

True

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [12]:
def makes_twenty(n1,n2):
    if n1==20 or n2==20 or n1+n2==20:
        return True
    else:
        return False

In [139]:
# or
def makes_twenty(n1,n2):
    return n1==20 or n2==20 or n1+n2==20

In [140]:
# Check
makes_twenty(20,10)

True

In [141]:
# Check
makes_twenty(2,3)

False

In [142]:
makes_twenty(17,3)

True

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [30]:
def old_macdonald(name):
    first = name[0].upper()
    second = name[1:3] 
    fourth = name[3].upper()
    last = name[4:]
    return(first+second+fourth+last)

In [145]:
# OR
#split the word at 3

def old_macdonald(name):
    return name[:3].capitalize()+name[3:].capitalize()

In [146]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [147]:
old_macdonald('asfsdkfjf')

'AsfSdkfjf'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [40]:
def master_yoda(text):
    string_list = text.split()
    string_list.reverse()
    return " ".join(string_list)

In [148]:
# OR
def master_yoga(text):
    return ' '.join(text.split()[::-1])

In [149]:
# Check
master_yoda('I am home')

'home am I'

In [150]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [43]:
def almost_there(n):
    if abs(200-n)<=10 or abs(100-n)<=10:
        return True
    else:
        return False

In [44]:
# Check
almost_there(104)

True

In [45]:
# Check
almost_there(150)

False

In [46]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [55]:
def has_33(nums):
    for i in range(len(nums)-1):
        if nums[i]==nums[i+1]==3:
            return True
        else:
            pass
    return False

In [56]:
# Check
has_33([1, 3, 3])

True

In [57]:
# Check
has_33([1, 3, 1, 3])

False

In [58]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [63]:
def paper_doll(text):
    text_list = [3*x for x in text]
    return ''.join(text_list)

In [64]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [65]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [83]:
def blackjack(a,b,c):
    if a+b+c <=21:
        return a+b+c
    else:
        if 11 in [a,b,c]:
            return a+b+c-10
        return 'BUST'

In [84]:
# Check
blackjack(5,6,7)

18

In [85]:
# Check
blackjack(9,9,9)

'BUST'

In [86]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [108]:
def summer_69(arr):
    if 6 and 9 in arr:
        start = arr.index(6)
        end = arr.index(9)
        if end>start:
            return sum(arr[:start])+sum(arr[end+1:])
    else:
        return sum(arr)

In [109]:
# Check
summer_69([1, 3, 5])

9

In [110]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [111]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [112]:
def spy_game(nums):
    sequence = [i for i in nums if i == 0 or i== 7]
    print(sequence)
    if sequence == [0,0,7]:
        return True
    else:
        return False

In [113]:
# Check
spy_game([1,2,4,0,0,7,5])

[0, 0, 7]

True

In [114]:
# Check
spy_game([1,0,2,4,0,5,7])

[0, 0, 7]

True

In [115]:
# Check
spy_game([1,7,2,0,4,5,0])

[7, 0, 0]

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [132]:
def count_primes(num):
    prime_num =[]
    if num <= 2:
        prime_num= [2]
    elif num <= 4:
        prime_num=[2,3]
    elif num <= 6 and num >=5 : 
        prime_num= [2,3,5]
    elif num == 7:
        prime_num=[2,3,5,7]
    else:
        prime_num = [2,3,5,7]
        for i in range(8,num+1):
            if i%2==0 or i%3==0 or i%5==0 or i%7==0:
                pass
            else:
                prime_num.append(i)
    return prime_num

In [133]:
# Check
count_primes(100)

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [134]:
count_primes(4)

[2, 3]

In [135]:
count_primes(2)

[2]

In [136]:
count_primes(8)

[2, 3, 5, 7]

In [137]:
count_primes(5)

[2, 3, 5]

In [138]:
count_primes(101)

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101]

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!